<div class="row card-container mb-3">
  <div class="col-md-12 mt-5">
    <app-card-user
      color="#AA00FF"
      percentage="99"
      userName="Alejandra"
      src="https://vignette.wikia.nocookie.net/avatar/images/1/12/Azula.png/revision/latest/top-crop/width/360/height/450?cb=20150620181410&path-prefix=es"
    >
    </app-card-user>
  </div>

  <div class="col-md-12 mt-5">
    <app-card-user
      color="#FF6D00"
      percentage="100"
      userName="Fernando"
      src="https://vignette.wikia.nocookie.net/avatar/images/1/12/Azula.png/revision/latest/top-crop/width/360/height/450?cb=20150620181410&path-prefix=es"
    >
    </app-card-user>
  </div>
</div>
