<div class="aligner">
  <div class="aligner-center animate__animated animate__backInDown">
    <form class="card card-responsive p-4" [formGroup]="form" (submit)="onSubmit()">
      <div class="text-center" [inlineSVG]="'../../assets/svg/healthy.svg'"></div>

      <mat-form-field class="mt-2" appearance="outline">
        <mat-label>Correo electrónico</mat-label>

        <input form matInput formControlName="email">

        <mat-error
          *ngIf="form.get(['email']).hasError('required')"
        >
          El correo electrónico es requerido
        </mat-error>

        <mat-error
          *ngIf="form.get(['email']).hasError('email')"
        >
          El correo electrónico no es valido
        </mat-error>
      </mat-form-field>

      <div *ngIf="load" class="text-center">
        <mat-progress-spinner
          class="margin-spinner"
          mode="indeterminate"
          strokeWidth="1"
          diameter="50"
        >
        </mat-progress-spinner>
      </div>

      <div *ngIf="!load" class="text-center mt-3">
        <button
          class="mr-3"
          mat-stroked-button
          color="accent"
          type="button"
          [routerLink]="['/']"
        >
          Regresar
        </button>

        <button
          mat-stroked-button
          color="primary"
        >
          Recuperar contraseña
        </button>
      </div>
    </form>
  </div>
</div>
