<form class="row" [formGroup]="form" (submit)="save()">
  <div class="col-md-12">
    <h2>Registro del día</h2>
  </div>

  <div class="col-md-12">
    <mat-checkbox 
      class="example-margin"
      formControlName="exercise"
    >
      Ejercicio completo
    </mat-checkbox>
  </div>

  <div class="col-md-12">
    <mat-checkbox 
      class="example-margin"
      formControlName="food"
    >
      Comió sano
    </mat-checkbox>
  </div>

  <div class="col-md-12 text-right">
    <button 
      mat-stroked-button 
      color="warning"
      (click)="onCancel()"
    >
      Cancelar
    </button>

    <button
      class="ml-2"
      mat-stroked-button 
      color="primary"
    >
      Guardar
    </button>
  </div>
</form>
