.menu {
  font-size: 40px;
  color: white;
  position: fixed;
  top: 18px;
  left: 10px;
  cursor: pointer;
}

.close-button {
  color: white;
  width: 35px;
  height: 30px;
  background: transparent;
  border: none;
  margin-top: 5px;
  margin-right: 5px;
  padding-top: 5px;
}

em {
  font-size: 25px;
}

nav {
  background: #263238;
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0px
}
